@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

body {
    background-color: #4D2951;
    background-image: url(images/addamsbg.png);
    background-repeat: repeat;
    margin: 5%;
    text-align: center;
    color:white;
}

li {
    display:inline-block;
}

h1 {
    font-family: 'Nosifer', cursive;
    letter-spacing: 0.25em;
    text-shadow: 1px 1px 2px black;
}

h2 {
    font-family: 'Nosifer', cursive;
}

p {
    margin: 5%;
    font-family:
}
.masthead {
    text-align:center;
    padding:5%;
    background-image: url(images/addamsmastheadbg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 75%;
}

.menu {
    filter:drop-shadow(-3px 3px #1a0044)
}

.mainposter {
    background-color:#4D2951;
    text-align:center;
    padding:2%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 1fr;
    grid-template-areas:
    "text pic"
}

.mainposter-text {
    grid-area: "text";
}

.poster-pic {
    grid-area: "pic";
}
.shirts {
    background-color:#4D2951;
    text-align:center;
    padding:5%;
}

.instagrid {
    background-color:#4D2951;
    text-align:center;
    padding:5%;
}

.filter {
    background-color:#4D2951;
    text-align:center;
    padding:5%;
}

.buttons {
    background-color:#4D2951;
    text-align:center;
    padding:5%;
}

.buttons img:hover{
    transform: scale(1.15);
}

.footer {
    background-color: #4D2951;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
}