@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

body {
    background-color: #4D2951;
    background-image: url(images/addamsbg.png);
    background-repeat: repeat;
    margin: 5%;
    text-align: center;
    color:white;
}

li {
    display:inline-block;
}

h1 {
    font-family: 'Nosifer', cursive;
    letter-spacing: 0.25em;
    text-shadow: 1px 1px 2px black;
}

h2 {
    font-family: 'Nosifer', cursive;
    margin-top: 25%;
    margin-left: 15%;
    margin-right: 15%;
}

h3 {
    font-family: 'Nosifer', cursive;
    text-align: center;
    padding: 0%;
}

#posttitle {
    margin-right: 25%;
    font-size: 200%;
    line-height:100%;
}

h4 {
    margin: 15%;
    font-family: 'Smythe', cursive;
    font-size:150%;
}

p {
    margin: 25%;
    font-family: 'Smythe', cursive;
    font-size: 150%;
}

.masthead {
    text-align:center;
    padding:5%;
    background-image: url(images/addamsmastheadbg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 75%;
}

.menu {
    filter:drop-shadow(-3px 3px #1a0044)
}

.mainposter {
    background-color:#4D2951;
    text-align:center;
    padding:2%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 1fr;
    grid-template-areas:
    "text pic"
}

.mainposter-text {
    grid-area: "text";
    background-image: url(images/postertextbg.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

.poster-pic {
    grid-area: "pic";
}

.shirts {
    background-color:#4D2951;
    text-align:center;
    padding:2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "front stext back"
}

.shirtfront {
    grid-area:"front";
    padding: 1%;
}

.shirttext {
    grid-area:"stext"
}

.shirtback {
    grid-area:"back";
    padding: 1%;
}

.instagrid {
    background-color:#4D2951;
    text-align:center;
    padding:5%;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;
    grid-template-areas: 
    "gtext gpic"
}

.instagrid-text {
    grid-area:"gtext"
}

.instagrid-picture {
    grid-area:"gpic";
}

.filter {
    background-color:#4D2951;
    text-align:center;
    padding:5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "fvideo ftext"
}

.filtervideo {
    grid-area:"fvideo";
}

.filtertext {
    grid-area:"ftext"
}
.buttons {
    background-color:#4D2951;
    text-align:center;
    padding:5%;
}

.buttons img:hover{
    transform: scale(1.15);
}

.footer {
    background-color: #4D2951;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

video {
    max-width: 100%;
    height: auto;
    width: auto;
 }

a:link {
    color:white
}
a:visited {
    color: white;
}

a:hover {
    color:#E82D62;
}

a:active {
    color: white;
}

@media (max-width: 800px) {
    .mainposter-text {
       background-image:none;
       display:inline-block;
    }

    .filter {
        display:block;
    }

    .instagrid {
        display:block;
    }

    .shirts {
        display:block;
    }

    .mainposter {
        display:block;
    }
}