body {
    background-color: #75022B;
}

.clueposter {
    background-color: #ebdcb1;
}

.shirts {
    background-color: #ebdcb1;
}

.programfilter {
    background-color: #ebdcb1;
}

.buttons {
    background-color: #ebdcb1;
}