@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    background-color: #75022B;
    background-image: url(images/cluebg.png);
    background-repeat: repeat-y;
    margin: 5%;
    width: 90%;
    text-align: center;
}

.menu {
    background-image: url(images/clue-page-topper.png);
    background: size 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 7%;
    padding-bottom: 10%;
    text-align: right;
    position: sticky;
}

li {
    display:inline-block;
}

.clueposter {
    background-color:#ebdcb1;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "postertext posterimage"
    "plumposter plumtext"
}

.shirts {
    background-color: #ebdcb1;
    padding: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "pic text"
}

.program {
    background-color:#ebdcb1;
    padding: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "ptext pimage"

}

.program-text {
    grid-area: "ptext";
    background-image: url(images/programtextbg.png);
    background-size: 105%;
    background-repeat:no-repeat;
    background-position:top center;
}

.programimage {
    grid-area: "pimage"
}

.shirtpicture {
    grid-area: "pic";
}

.shirttext {
    grid-area: "text";
    background-color:#ebdcb1;
    background-image: url(images/sweattextbg.png);
    background-position:top center;
    background-repeat:no-repeat;
}

#poster {
    margin: 5%;
}

h1 {
    font-family: "Permanent Marker", cursive;
    margin:15%;
}

h2 {
    font-family: "Permanent Marker", cursive;
    margin-top: 20%;
}

p {
    font-family: "Special Elite", cursive;
    margin: 15%;
}

.postertext {
    grid-area:"postertext";
    background-image: url(images/cluetextbg.png);
    margin-bottom: 10%;
    background-repeat:no-repeat;
    background-position:center;
}

.posterimage {
    grid-area:"posterimage";
}

.plumposter {
    grid-area:"plumposter"
}

.plumtext {
    grid-area:"plumtext";
    background-image: url(images/cluetextbg.png);
    background-repeat:no-repeat;
    background-position: center;
}

#plum {
    margin-top:15%;
}

.clueposter {
    background-color: #ebdcb1;
    padding: 5%;
}

.buttons {
    background-color: #ebdcb1;
    padding-bottom: 3%;
    width: 100%;
    height: auto;
}

.buttons img:hover{
    transform: scale(1.15);
}

.footer {
    background-color: #ebdcb1;
    padding: 10%;
    background-color: #AE6300;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (max-width: 846px) {
     .menu {
        padding-bottom: 0%;
     }
     
}