@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body {
    background-color: #F7A6A3;
    margin: 5%;
    background-image: url(images/lovelettersbg.png);
    width: 90%;
    height: auto;
    background-size: cover;
    text-align:center;
    background-repeat: repeat-y;
}

.title {
    font-family: 'Playfair Display', serif;
    background: url(images/paperscrap.png);
    height: 69px;
    width: auto;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    color:transparent;
}

p {
    font-family: 'Playfair Display', serif;
}

.issuesheader {
    background-image: url(images/LLbg.png);
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}

.issues-pics {
    background-image: url(images/LLbg.png);
    padding: 5%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

video {
    max-width: 100%;
    height: auto;
    width: auto;
 }

h3 {
    font: size 200%;
    font-family: 'Playfair Display', serif;
}

h4 {
    font-size:200%;
    font-family: 'Playfair Display', serif;
}

.instagram  {
    background-image: url(images/LLbg.png);
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.instagram-text {
    margin-left: 5%;
    margin-right: 20%;
    text-align:left;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.website {
    background-image: url(images/LLbg.png);
    padding: 5%;
}

.buttons {
    background-image: url(images/LLbg.png);
    padding: 5%;
}

.footer {
    background-color: maroon;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
}

li {
    display:inline-block;
}

.buttons img:hover{
    transform: scale(1.15);
}

@media (max-width: 900px) {
    body {
        background-image: none;
    }

    .title {
        background:transparent;
    }

    h1 {
        color:black;
        font-size:larger;
    }
}