@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    background-color: white;
    background-image: url(images/publicationsbg.png);
    background-repeat:repeat-x;
    background-size: 900px;
    background-position: bottom;
    text-align: center;
}

h1 {
    font-family: 'Special Elite', cursive;
}

li {
    display:inline-block;
}

.buttons img:hover{
    transform: scale(1.15);
}

.footer {
    background-color: black;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

video {
    max-width: 100%;
    height: auto;
    width: auto;
 }