@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-color: #ffddb0;
    text-align: center;
    margin: auto;
}

h1 {
    text-align: left;
    margin-left: 15%;
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
    size: 50px;
}

.aboutme {
    background-color: #ffddb0;
}

.welcome {
    background-color:#ffddb0;
}

.buttons {
    background-color:#ffddb0;
    padding: 1%;
}

.logocontainer {
    background-color: #ffddb0;
}

.menu {
    background-color: #AE6300;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
    position: sticky;
    font-family: 'Playfair Display', serif;
}

li {
    display:inline-block;
}

.buttons img:hover{
    transform: scale(1.15);
}

.footer {
    background-color: #AE6300;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
}

a:link {
    color:white
}
a:visited {
    color: white;
}

a:hover {
    color:#E82D62;
}

a:active {
    color: white;
}

@media (max-width: 450px) {
    body {
        background-color: aqua;
    }
}